In [63]:
# url 에서 데이터를 가져와 문자열로 반환
import json, requests
import pandas as pd
url = requests.get("https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=7C2WbdJeR4Jugo687WwfvKNckPyU5HdD&searchdate=20230802&data=AP01")
data = url.json()

# 나라이름 : 환율
# ctr_cur = { data[i]['cur_nm'].split()[0] : data[i]['tts'] for i in range(len(data))}
# ctr_cur = json.dumps(ctr_cur, indent = 4, ensure_ascii=False) 

# 전체 표 보여주기 -> 표 정리하고 싶음..ㅎ
summary = pd.DataFrame(data)
summary

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,1,AED,345.18,352.15,348.67,348,0,0,348,348.67,아랍에미리트 디르함
1,1,AUD,838.52,855.45,846.99,846,0,0,846,846.99,호주 달러
2,1,BHD,"3,363.19","3,431.14","3,397.17","3,397",0,0,"3,397","3,397.17",바레인 디나르
3,1,BND,949.69,968.88,959.29,959,0,0,959,959.29,브루나이 달러
4,1,CAD,955.24,974.53,964.89,964,0,0,964,964.89,캐나다 달러
5,1,CHF,"1,451.75","1,481.08","1,466.42","1,466",0,0,"1,466","1,466.42",스위스 프랑
6,1,CNH,176.84,180.41,178.63,178,0,0,178,178.63,위안화
7,1,DKK,187.27,191.06,189.17,189,0,0,189,189.17,덴마아크 크로네
8,1,EUR,"1,395.57","1,423.76","1,409.67","1,409",0,0,"1,409","1,409.67",유로
9,1,GBP,"1,621.44","1,654.19","1,637.82","1,637",0,0,"1,637","1,637.82",영국 파운드
10,1,HKD,162.66,165.95,164.31,164,0,0,164,164.31,홍콩 달러
11,1,IDR(100),8.38,8.55,8.47,8,0,0,8,8.47,인도네시아 루피아
12,1,JPY(100),887.04,904.96,896,896,0,0,896,896,일본 옌
13,1,KRW,0,0,1,1,0,0,1,1,한국 원
14,1,KWD,"4,123.49","4,206.8","4,165.15","4,165",0,0,"4,165","4,165.15",쿠웨이트 디나르
15,1,MYR,280.59,286.26,283.43,283,0,0,283,283.43,말레이지아 링기트
16,1,NOK,124.59,127.1,125.85,125,0,0,125,125.85,노르웨이 크로네
17,1,NZD,778.16,793.89,786.03,786,0,0,786,786.03,뉴질랜드 달러
18,1,SAR,337.9,344.73,341.32,341,0,0,341,341.32,사우디 리얄
19,1,SEK,119.8,122.23,121.02,121,0,0,121,121.02,스웨덴 크로나
20,1,SGD,949.69,968.88,959.29,959,0,0,959,959.29,싱가포르 달러
21,1,THB,36.93,37.68,37.31,37,0,0,37,37.31,태국 바트
22,1,USD,"1,267.89","1,293.5","1,280.7","1,280",0,0,"1,280","1,280.7",미국 달러

In [72]:
country_info = {data[i]['cur_nm'].split()[0]:data[i]['cur_nm'].split()[-1] for i in range(len(data))} # 나라이름, 단위
receive = { country_info[i][0] : data[i]['ttb'] for i in range(len(data))} # 나라이름 : ttb

send = { country_info[i][0] : data[i]['tts'] for i in range(len(data))}
send

{'아랍에미리트': '345.18',
 '호주': '838.52',
 '바레인': '3,363.19',
 '브루나이': '949.69',
 '캐나다': '955.24',
 '스위스': '1,451.75',
 '위안화': '176.84',
 '덴마아크': '187.27',
 '유로': '1,395.57',
 '영국': '1,621.44',
 '홍콩': '162.66',
 '인도네시아': '8.38',
 '일본': '887.04',
 '한국': '0',
 '쿠웨이트': '4,123.49',
 '말레이지아': '280.59',
 '노르웨이': '124.59',
 '뉴질랜드': '778.16',
 '사우디': '337.9',
 '스웨덴': '119.8',
 '싱가포르': '949.69',
 '태국': '36.93',
 '미국': '1,267.89'}

In [76]:
# User input
# 중국의 경우 '위안화' 로 검색, 유럽지역은 '유로'로 검색 , 덴마크는 덴마아크로 검색

mode = input('What do you want? (receive foreign money :1 / send foreign money :2)') #nlp 적용 가능할지도?
country = input('Which country or currency are you going to 거래? ')  # 국가/ 단위 둘다 접근 가능하게 처리 해야겠다.
    
if mode == 1: # receive : ttb
    money = input('How much money are you going to receive? ')
    print()
    r_money = receive[country]*money
    print(f'Receive : {r_money}{country_info[country][-1]}')
elif mode == 2:
    money = input('How much money are you going to send? ')
    print()
    r_money = send[country]*money
    print(f'Send : {r_money}won')

What do you want? (receive foreign money :1 / send foreign money :2)1
Which country or currency are you going to 거래? 일본

##  Method

### 1. 현찰 구매시 실시간 환율 적용 금액
현찰 살때 / 팔때 = 매매기준율 + (매매기준율 * 통화별 스프레드) 

ctr_cur 
type : dict {country : currency}
1. input pattern1  : country name ~ X원 환전 
2. input pattern2 : won -> 그나라 돈으로
단위 X달러 만큼 환전하고 싶다 -> 나라 인식 -> 환율 찾기

#### Issue 
하나은행 환율 : 기업만 접근 가능한 api

#### Solve
1. 다른 api찾기
2. 이 기능 삭제
-> 일단 기능 제외하고 송금 받고 보내는 환율 기능적용


--------------------------------------------

### 2. 나라 환율 정보 전체 조회 summary
나라 - 환율 테이블 보여주기
#### Approach
pandas DataFrame 사용

#### Issue
테이블명이 불분명하다.
나라 이름을 테이블의 가장 처음에 배치하고 싶다.

--------------------------------------------

### 3. 송금 받을때  TTB mode 1
input __ 단위 __ -> ttb * 돈 = 원으로 바꿔서 return '__원을 받습니다'

### 4. 송금 보낼때 TTS mode 2
input __ 단위 __ -> tts * 돈 = 원으로 바꿔서 '__ 원을 보냅니다'

#### Approach
json형태의 환율 정보 API에서 사용자의 input mode(보내기,받기)에 따라 환율 적용해서 원화 / 해당 currency로 변경해서 사용자에게 알려준다.

#### Issue
1. 중국과 유럽지역은 나라 이름 대신 '위안화', '유로'로 데이터가 저장되어 있다. 
2. 덴마크는 덴마아크로 검색

#### Solve
1. [나라 : 통화] 구조의 dictionary를 만들었다. -> 나라 / 통화 둘다 검색 가능하게 한다.
2. 

#### 추가 기능 / 추가 해결점
1. 나라 / 통화가 데이터에 없을 경우 오류 메세지를 출력한다.
2. 덴마아크.....
3. 최근 환율 그래프로 시각화 하고싶다.
4. 맨처음에 검색 가능한 나라/ 통화 띄워주기 (country info)

--------------------------------------------


## NLP
### 5. 기타정보 제공
input : country name
return : 그 나라 은행 정보 제공....


#### Approach 
NLP regular expression이용

1. url에 나라 이름 부분을 변수로 두고 input 을 받아 url post한다.

2. wikipedia api 사용

3. 통화 : Banknotes 부분을 nlp한다.
 Freq. used	¥1 RMB, ¥5 RMB, ¥10 RMB, ¥20 RMB, ¥50 RMB, ¥100 RMB
Coins	
 Freq. used	¥0.1 RMB, ¥0.5 RMB, ¥1 RMB
 Rarely used	¥0.01 RMB, ¥0.02 RMB, ¥0.05 RMB

4. list of banks in __ 나라이름 Page

In [77]:
# NLP
import wikipediaapi